<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.gamedemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/><!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        android:name=".core.MyApplication"
        >
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Immerse"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--在线答题页面-->
        <activity android:name=".activity.OnlineAnswerActivity"
            android:theme="@style/AppBlackTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!--android:windowSoftInputMode="adjustPan"-->
        <!--上传题库界面-->
        <activity android:name=".activity.SendAnswerActivity"
            android:theme="@style/AppBlackTheme"

            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--我的资料修改页面-->
        <activity android:name=".activity.mine.AllModifyActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--登录-->
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!--上传答题规范-->
        <activity android:name=".activity.UpLoadRuleActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--个人中心-->
        <activity android:name=".activity.mine.MineCenterActivity"
            android:theme="@style/AppBlackTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!--一起-->
        <activity android:name=".activity.mine.togther.TogetherActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--一起说-->
        <activity android:name=".activity.mine.togther.SendTogtherActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!--发布分享，管理员权限-->
        <activity android:name=".activity.share.SendShareActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--收藏-->
        <activity android:name=".activity.mine.CollectActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!--我的上传-->
        <activity android:name=".activity.mine.UploadActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />


        <!--答题页面-->
        <activity android:name=".activity.answer.AnswerListActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--开始答题页面-->
        <activity android:name=".activity.answer.Starting"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!--选择答题类型-->
        <activity android:name=".activity.answer.SelectTypeActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--笔记页面-->
        <activity android:name=".activity.notes.NotesListActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--写笔记-->
        <activity android:name=".activity.notes.WriteNoteActivity"
            android:theme="@style/AppBlackTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--图片浏览-->
        <activity
            android:name=".activity.image.PhotoBrowseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"

            />
        <!--单张图片裁剪-->
        <activity
            android:name=".widget.simage.CropImageActivity"
            android:screenOrientation="portrait"/>
        <!--多张图片选择预览-->
        <activity
            android:name="com.lidong.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"
            android:configChanges="orientation|screenSize"/>
        <!--分享模块图片预览-->
        <activity android:name="com.lidong.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme"/>


        <activity android:name="com.wxapi.WXEntryActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sdksample"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105176662" />
            </intent-filter>
        </activity>



        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!--glide-->
        <meta-data
            android:name="com.example.administrator.gamedemo.core.GlobalGlideConfiguration"
            android:value="GlideModule"/>
    </application>

</manifest>